<div class='container-fluid'>
<div class='sourcesButtonsUtils row'>
  <%= content_tag :span, 'Show', id: 'sourcesButtonsPulldown', class: "#{button_size} #{button_class(:show_buttons)}" %>
</div>
<div class='sourcesButtonsUtils row'>
  <ul class='sourcesButtons list-inline'></ul>
</div>
</div>
