<div class='listSources'>
<%= paginate(@sources) %>
<ul>
  <% @sources.each do |source| %>
    <li>
      <%= link_to source.description, public_path(id: source.id) %>
    </li>
  <% end %>
</ul>
<%= paginate(@sources) %>
</div>
